* {
  margin: 0;
  padding: 0;
}

.image {
  width: 100%;
}

.Description {
  height: 100%;
  background-image: url("../Image/Front-Posters.jpg");
  background-size: cover;
}

.bg-row {
  background: black;
  opacity: 0.8;
}

.bg-image {
  width: auto;
  height: 100%;
}

/* Test */
.separate {
  margin: 0 2vw;
}

.image-bg {
  background-position: 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition-duration: 800ms;
  transition-timing-function: ease;
}

.time:hover {
  transition: all 800ms ease;
  opacity: 0.5;
}

.width-form {
  width: 100%;
}

.bg-container {
  background: #ffda9d;
}

textarea {
  resize: none;
}
